<section class="section">
    <nav class="level">
        <p class="level-item has-text-centered">
            <a href="/"><img src="/images/evrylist-logo.png" alt="The evrylist logo" style="height: 40px;"></a>
        </p>
    </nav>
    <div class="container">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li><a href="#">This</a></li>
                <li><a href="#">Breadcrumb</a></li>
                <li class="is-active"><a href="#" aria-current="page">Tho</a></li>
            </ul>
        </nav>
    </div>
</section>