{{ define "main" }}
<div class="container">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li><a href="/">Home</a></li>
                <li class="is-active"><a href="{{ .URL}}" aria-current="page"><strong>{{ .Title}}</strong></a></li>
            </ul>
        </nav>
    <h1 class="title">{{ .Title}}</h1>
    <table class="table is-striped is-hoverable">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Tagline</th>
                <th>Love</th>
            </tr>
        </thead>
        <tbody>
            {{ range .Pages }}
            <tr>
                <td>{{ .Params.Rank }}</td>
                <td>
                    <a href="{{ .Params.Itemurl}}" target="_blank">{{.Title}}</a>
                </td>
                <td>{{ .Params.Tagline}} </td>
                <td><span class="icon is-large">
                    <i class="fas fa-heart"></i>
                  </span></td>
            </tr>
            {{end}}
        </tbody>
    </table>
</div>
{{ end }}